<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gryglicki.android.wifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-feature android:name="android.hardware.wifi"/>
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:name=".WiFiPrioritizerApplication">
        <activity
            android:name=".WiFiPrioritizerWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".WiFiPrioritizerMainActivity"
            android:label="@string/wiFiPrioritizerActivityTitle" >
        </activity>
        
        <activity
			android:name=".WiFiPrioritizerPrefsActivity"
            android:label="@string/prefsActivityTitle">
        </activity>
        
        <service android:name=".WiFiPrioritizerActiveService" />
        

        <!-- Home Widget -->
        <receiver
            android:name=".widget.WiFiPrioritizerWidgetProvider"
            android:label="WiFi Prioritizer Widget"
            android:icon="@drawable/ic_launcher">
           <intent-filter>
               <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
               <action android:name="com.gryglicki.android.wifi.ACTION_PREFERENCES_CHANGED"/>
               <action android:name="com.gryglicki.android.wifi.ACTION_SERVICE_STATUS_CHANGED"/>
           </intent-filter>
           <meta-data 
               android:name="android.appwidget.provider"
               android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>